@use 'variables';

.card {

  box-sizing: border-box;
  width: variables.$cartao-width;

  padding-top: variables.$cartao-paddingtop;










  
  &__image {
    object-fit: cover;
    display: block;

    margin-left: variables.$paddingleftcomputador;
  

    width: variables.$computador-width;

    height: variables.$computador-height;

    background-image: url('../images/computador.jpg');
    background-size: cover;
    background-position: center;

    margin-bottom: variables.$marginbottomcomputador;
  }



  &__product {
    padding-left: variables.$paddingleftproduto;
    color: #060b35;

    font-family: Roboto, sans-serif;

    font-weight: 500;
    font-size: 12px;

    line-height: 18px;
    letter-spacing: 0%;
    margin-bottom: variables.$marginbottomproduto;
  }

  &__code {
    padding-left: variables.$paddingleftcodigo;
    color: #616070;

    font-family: Roboto, sans-serif;

    font-weight: 400;
    font-size: 10px;

    line-height: 14px;
    letter-spacing: 0%;
    margin-bottom: variables.$marginbottomcodigo;
  }

  &__review {
    padding-left: variables.$paddingleftrevisao;
    display: flex;

    justify-content: space-between;

    margin-bottom: variables.$marginbottomrevisao;
  }

  &__revquant {
    padding-right: variables.$paddingrigth;
    font-family: Roboto, sans-serif;

    font-weight: 400;
    font-size: 10px;

    line-height: 14px;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: bottom;

    color: #060b35;
  }

  &__price {
    padding-left: variables.$paddingleftpreco;
    display: flex;

    justify-content: space-between;

    margin-bottom: variables.$marginbottompreco;
  }

  &__pricelabel {
    font-family: Roboto, sans-serif;

    font-weight: 400;
    font-size: 12px;

    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
    vertical-align: bottom;

    color: #616070;
  }

  &__pricevalue {
    padding-right:variables.$paddingrigth;
    font-family: Roboto, sans-serif;

    font-weight: 700;
    font-size: 16px;

    line-height: 18px;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: bottom;

    color: #060b35;
  }

  &__button {
    display: block;
    justify-content: center;
    padding-right: $paddingleftproduto;

    border: 0;
    border-radius: 5px;
    margin-left: $paddingleftproduto;
    padding-left: $paddingleftproduto;

   
    width: variables.$buttonwidth;
    height: variables.$buttonheight;
    background-color: #00acdc;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 14px;

    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

