@use 'variables';

.card {

  box-sizing: border-box;
  width: variables.$cartao-width;

  padding-top: variables.$cartao-paddingtop;

  &__image {
    object-fit: cover;
    display: block;

    margin-left: 20px;
    margin-right: 18px;

    width: variables.$computador-width;

    height: variables.$computador-height;

    background-image: url('../images/computador.jpg');
    background-size: cover;
    background-position: center;

    margin-bottom: 40px;
  }



  &__product {
    padding-left: 17px;
    color: #060b35;

    font-family: Roboto, sans-serif;

    font-weight: 500;
    font-size: 12px;

    line-height: 18px;
    letter-spacing: 0%;
    margin-bottom: 4px;
  }

  &__code {
    padding-left: 17px;
    color: #616070;

    font-family: Roboto, sans-serif;

    font-weight: 400;
    font-size: 10px;

    line-height: 14px;
    letter-spacing: 0%;
    margin-bottom: 18px;
  }

  &__review {
    padding-left: 18px;
    display: flex;

    justify-content: space-between;

    margin-bottom: 24px;
  }

  &__revquant {
    padding-right: 17px;
    font-family: Roboto, sans-serif;

    font-weight: 400;
    font-size: 10px;

    line-height: 14px;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: bottom;

    color: #060b35;
  }

  &__price {
    padding-left: 17px;
    display: flex;

    justify-content: space-between;

    margin-bottom: 16px;
  }

  &__pricelabel {
    font-family: Roboto, sans-serif;

    font-weight: 400;
    font-size: 12px;

    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
    vertical-align: bottom;

    color: #616070;
  }

  &__pricevalue {
    padding-right: 17px;
    font-family: Roboto, sans-serif;

    font-weight: 700;
    font-size: 16px;

    line-height: 18px;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: bottom;

    color: #060b35;
  }

  &__button {
    display: block;
    justify-content: center;
    padding-right: 17px;

    border: 0;
    border-radius: 5px;
    margin-left: 17px;
    padding-left: 17px;
    width: 166px;
    height: 40px;
    background-color: #00acdc;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 14px;

    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

