
$cartao-width: 200px;

$cartao-paddingtop: 33px;
$computador-width: 160px;
$computador-height: 134px;


$stars-size: 14px;
$stars-gap: 6px;

$color-gray-300: #d1d1d1;
$stars-empty-color: $color-gray-300;

$paddingrigth:17px;


$paddingleftcomputador:20px;
$marginbottomcomputador:40px;

$paddingleftproduto:17px;
$marginbottomproduto:4px;

$paddingleftcodigo:17px;
$marginbottomcodigo:18px;

$paddingleftrevisao:18px;
$marginbottomrevisao:24px;

$paddingleftpreco:17px;
$marginbottompreco:16px;

$buttonwidth:166px;
$buttonheight:40px;
